:root {
  --main-bgColor: rgb(144, 202, 249);
  --main-hover-bgColor: rgba(144, 202, 249, 0.5);
  --main-disabled-bgColor: rgba(144, 202, 249, 0.3);
  --main-color: white;
}

.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-radius: 7px;
  outline: none;

  &:hover:not(:disabled) {
    background: var(--main-hover-bgColor);
  }

  &:disabled:not(.contained) {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.text {
    color: var(--main-bgColor);
  }

  &.contained {
    background: var(--main-bgColor);
    color: var(--main-color);

    &:hover:not(:disabled) {
      background: var(--main-hover-bgColor);
    }

    &:disabled {
      cursor: not-allowed;
      background: var(--main-disabled-bgColor);
    }
  }

  &.outlined {
    border: 1px solid var(--main-bgColor);
  }

  &.large {
    padding: 12px 17px;
  }

  &.medium {
    padding: 10px 15px;
  }

  &.small {
    padding: 6px 8px;
  }
}